/* Didnt know if i had to make the page responsive so the styling is based on my home pc screen size (using smaller 
screens may change the format (2 col instead of 3 for exp) of the review cards etc*/

html,body{
  margin: 0;
  padding: 0;
}

.homepage-wrapper{
  display: flex;
  flex-direction: row;
}
.sidebar-wrapper{

  width: 80px;
  height: 100vh;
  margin-left: 0;

}

.logo-img{
  height: 35px;
  margin-top: 20px;
}
.sidebar-top-wrapper{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 25px;
}
.sidebar-icons{
  height: 25px;
}

.sidebar-bottom-wrapper{

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 25px;
  margin-top: 500px;
}

.homepage-main-sec-wrapper{
  margin-left: 150px;
  width: 80%;
}
.homepage-title-sec{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  
}
.homepage-main-sec-wrapper h3{
  font-weight: 600;
  margin-bottom: 0px;
  font-size: 20px;
  margin-bottom: 15px;
}
.title-blue{
  font-size: 70px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 3px;
  margin-bottom: 1px;
  color: #1279f2;
  cursor: pointer;
}

.title-red{
  font-size: 70px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 3px;
  margin-bottom: 1px;
  color: #f21212;
  cursor: pointer;
}

.title-yellow{
  font-size: 70px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 3px;
  margin-bottom: 1px;
  color: #c2f330;
  cursor: pointer;
}

.homepage-main-sec-wrapper h4{
  margin-top: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.searchbar-wrapper{
  width: 95%;
  border: 1px solid rgb(73, 149, 237);
  height: 50px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 4px;
  border-radius: 8px;
}

.searchbar-input{
  width: 95%;
  font-size: 14px;
  border: none;
  background-color: transparent;
}

.searchbar-input::placeholder {
  color: rgb(73, 149, 237);
}

.searchandsort-wrapper{
  position: relative;
}

.search-overlay {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center; 
  justify-content: center; 
  z-index: 1000; 
  background-color: rgba(0, 0, 0, 0.5); 
}
.search-result-div{
  height: 400px;
  width: 500px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add some shadow for better visibility */
  z-index: 1001; /* Ensure the search result div is above the overlay background */
}



.searchbar-wrapper img{
  height: 20px;
  margin-left: 10px;
  
}

.searchbar-wrapper input:focus {
  outline: none;
}
.course-card-wrapper{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 80px;
  
}

.course-card-ind-wrapper{
  width: 450px;
 border-radius: 5px;
  border-bottom: 1px solid rgb(189, 188, 188);
  cursor: pointer;
  height: 200px;
}
.terms-wrapper{
  display: flex;
  flex-direction: row;
  gap: 5px;  
  
  margin-bottom: 10px;
  margin-top: 50px;
  
}
.term-container{
  font-size: 13px;
  text-align: center;
  border-radius: 40px;
  background-color: rgb(182, 217, 241);
  width: 50px;
   
  
}

.star-filled{
  color: #b066d5;
  font-size: 30px;
}

.star{
  color: rgb(211, 211, 211);
  font-size: 30px;
}
.title-review-sec{
  display: flex;
  flex-direction: row;
  
}
.title-review-sec h2{
  font-weight: bold;
}

.review-sec{
  
  display: flex;
  flex-direction: column;
  margin-left: 25%;
}

.review-sec p{
  margin-bottom: 0px;
  color: rgb(133, 133, 133);
}

.review-sec-stars{
  margin-top: 0px;
}

.dropdown-container{
  margin-top: 10px;
 
}

.dropdown-sort{
  width: 200px;
  background-color: transparent;
  color: rgb(78, 78, 78);
  height: 40px;

}





